<h1>Welcome to the Astroanuts Index!</h1>

<section id="statistics">
  <p>Average Age of Astronauts: <%= @astronauts.average_age %></p>
</section>

<section id="space-missions">
  <% @missions.each do |mission| %>
    <li><%= mission.title %></li>
  <% end %>
</section>

<% @astronauts.each do |astronaut| %>
  <section id="astronaut-<%= astronaut.id %>">
    <h4><%= astronaut.name %></h4>
    <p><%= astronaut.age %></p>
    <p><%= astronaut.job %></p>
<% end %>
  </section>
